html {
    font-size: 10px;
    font-family: 'Staatliches', cursive;
}

h1 {
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;    
    color: #00539F; /* This color makes the title look like a 90's poster */
    text-shadow: 3px 3px 1px black; /* This adds to the 90's-ness */
}

p {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1;
}

body {
    width: 600px; /* forces the body to always be 600px */
    margin: 0 auto; /* centers the body on the page */
    padding: 0 20px 20px 20px; /* no padding on top, 20px on the right, bottom, and left */
    border: 5px solid black; /* 5px-wide, solid-black border around body */
  }

  img {
    display: block; /* allows img to have margin values */
    margin: 0 auto; /* centers the image */
  }